<p>
  <strong>Creator:</strong>
  <%= User.find(Event.find(params["id"]).creator_id).username %>
</p>

<p>
  <strong>Event Name:</strong>
  <%= @event.name %>
</p>

<p>
  <strong>Date:</strong>
  <%= @event.date %>
</p>

<p>
  <strong>Time:</strong>
  <%= @event.time %>
</p>

<p>
  <strong>Location:</strong>
  <%= @event.location %>
</p>

<p>
  <strong>Attendees:</strong>
  <ul>
    <% @event.users.each do |user| %>
      <li><%= user.username %></li>
    <% end %>
  </ul>
</p>

<p>
  <strong>Sign Up to Attend:</strong>
  <%= link_to "Click Here to Attend", # %>
</p>

<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>
